<p align="center"><b>Add Time</b></p>

<p>
    By specifying the day, month and year of the presentation, a teacher
    can add this time to the list of appointments from which students can
    schedule presentations. You can not edit or delete an entire session. Each 
    individual time period has to be deleted manually.
</p>
