<p align="center"><b>Add Task</b></p>

<p>This enables a teacher to add a task to be performed within the project.</p>

<p> Note: Teachers can participate in all tasks (e.g. they can brainstorm topics,
    join groups, etc)</p>

    The following tasks can be added to a project:

<p>
    <b>Brainstorm</b> - A brainstorm task may be used by a teacher to brainstorm topics
    for their project. This can be done solely by the teacher, or they can allow
    students to add topics as well. These topics can be chosen by individuals
    during the signup task. 

    A teacher may create as many Brainstorm tasks as they like but this must be the 
    first task created.
</p>

<p>
    <b>Signup</b> - Signup tasks usually consist of two stages: group formation and
    topic selection. Should projects be performed on an individual basis,
    the group formation is not performed.
    
    A signup task can be performed in one of three ways:
    <ol>
        <li> Students can perform their project on an individual basis and choose
        their own topic. </li>
        <li> Students can form groups by themselves and choose a topic to work
        on as a group. </li>
        <li> Teachers can choose groups for the students, and the students can
        choose their topic as a group. </li>
    </ol>

    Note that a teacher has overall control over groups, as they can choose to add
    students to a group, or remove students from a group.

    A teacher can also assign topics to students or un-assign topics from students.

    Only one Signup task can be created in each project and must be created after a
    Brainstorm task has been created. The Signup task can only be linked to 1 
    Brainstorm task.
<p>

<p>
    <b>Submit</b> - The Submit task allows students to upload a single file for
    a teacher to assess. Only one file may be uploaded per student/group, and any
    subsequent uploads over-write the previous submission.

    Multiple Submit tasks can be performed within a project, thus allowing multiple
    files to be uploaded. Submit tasks must be linked to a Signup task.
</p>

<p>
    <b>Schedule</b> - The Schedule task allows a teacher to provide their students
    with time slots in which they can book an appointment to perform a presentation. 
    Only one presentation may be made per student or group.

    A teacher may make each time-slot of any length (in minutes), and schedule
    these times beginning at upto five minute intervals. Multiple days and differing
    time-slots can also be added.

    Multiple Schedule tasks can be created within a project, however, they must be
    linked to a Signup task.
</p>

<p>
    <b>Assessment</b> - An Assessment task allows a teacher to assess either a
    submission (made through the Submit task), or a presentation (made through the
    Schedule task). Should the teacher wish to do so, they can allow students to
    assess other students submissions or presentations. Any grade given by students
    will be separate to grades given by teachers, and an average will be calculated.

    Multiple Assessment tasks may be created within a project, however, they must
    be linked to either a Submit or a Schedule task.
</p>
