<p align="center"><b>Allow Commenting</b></p>

<p>
    If this radio button is selected as "yes", commenting will be allowed
    for Assessment tasks.
</p>

<p>
    Note that this functionality is yet to be implemented.
</p>
