<p align="center"><b>Task to Assess</b></p>

<p>
    The user can choose the appropriate Submit or Schedule task
    from this drop-down menu in order to Assess a particular submission
    or presentation.
</p>
