<p align="center"><b>Assign Topics</b></p>

<p>
    A teacher may assign topics to each group by selecting a topic from the
    drop-down menu. More than one topic can be assigned at the one time by
    selecting a topic for each group/student.
</p>

<p>
    Each topic may only be assigned to one group/student. If the same topic
    is assigned to more than one group/student, only one of the
    groups/students will be given the topic.
<p>
