<p align="center"><b>Comment</b></p>

<p>
    This frame allows the user to add any comments they wish to accompany the
    rating of the file or presentation.
</p>

<p>
    Note that this functionality is yet to be implemented.
</p>
