<p align="center"><b>Day Available</b></p>

<p>
    This is the day on which to set up a session for students to schedule
    presentations. A session consists of a continuous series of appointments
    (of duration as specified during Schedule Task creation).
</p>