<p align="center"><b>File Types that can be Submitted</b></p>

<p>
    This is a text field where the teacher can enter the list of file types
    that a student can submit. It is up to the teacher to specify which types
    of files they will accept.
</p>

<p>
    Note: The file types specified by the teacher are not automatically 
    enforced by the system.
</p>
