<p align="center"><b>Group Selection Options</b></p>

<p>
    There are five options for group selection:
</p>
    <ol>
        <li><b>Individual work</b> - Work is performed on an individual
        basis. The topic will be selected by the student.</li>
        <li><b>Group selection by students</b> - Groups are formed by
        students, then a topic can be chosen by the group.</li>
        <li><b>Group nomination by teacher</b> - Groups are chosen by
        teachers, then a topic can be chosen by the group.</li>
        <li><b>Topic-based group allocation</b> - Students choose
        their topic and are allocated into groups based on this.</li>
        <li><b>Random Group Allocation</b> - Students are randomly assigned
        to groups.</li>
    </ol>
