<p align="center"><b>Mark</b></p>

<p>
    A "mark" is a score or a grade for the project.  A mark is only visible 
    for Assessment tasks (no mark is shown for brainstorm, signup, submit, 
    or schedule tasks).  
</p>

<p>
    This column displays the rating (as a percentage) that the student was 
    given by the Teacher, not their peers.  Peer ratings can be viewed 
    inside the Assessment task.
</p>

<p>
    A mark is an average of all rating criterias for that particular 
    Assessment task.  Each rating is weighted in equal proportion.  If you 
    wish to double the weighting of a particular criteria, one approach 
    would be to be create two identical criteria, and thus rate that 
    criteria twice.
</p>

<p>
    "Your Current Overall Mark" is a combination of multiple assessments. 
    If a teacher creates only one assessment, then this mark will be the 
    same as in the "Mark" column.
</p>
