<p align="center"><b>Adding a New Software design problem</b></p>

<p>
<b>Purpose:</b> This module is based on the philosophy that students learn best
 when driven not by a content syllabus, but by self-selected, purposeful 
projects.  A project usually involves research into a topic.  

</p>
<p>
It is intended that group and peer work be integrated into the learning 
design.  Groups can be formed, by the teacher or by the students 
themselves, Students can do assessments of their classmates and these 
ratings averaged for consideration.
</p>
<p>
<b>Tasks:</b> There are three different tasks that can be chosen for a 
learning sequence.  Some of these tasks must be built in strict order. 
Others can be repeated and arranged flexibly.   A typical project will 
include the following modules in this sequence:
</p>
<ul>
    <li>Brainstorm (to collect an ideas about how the problem should be solved)
       <li>Submit (to propose UML solution for assessment)
       <li>Assessment (of submitted solution)
</ul>



