<p align="center"><b>Project Late End Date</b></p>

<p>This date is the last date for tasks to be performed in a project. All task
    late end dates should be on or before this date.</p>

<p>This date cannot be before the end date of the project</p>

<p>Note that this date will not be visible to students, but teachers will
    always be aware of this date.</p>
