<p align="center"><b>Number of Items in the Rating Scale</b></p>

<p>
    Ratings--The first item in the rating scale is fixed at a score of zero (0).  The second item is fixed at a score of one (1).  The third and fourth items are scored at 3, 4 and so on.  All criteria will have the same number of items in the rating scale.  These simple fixed settings may be made more flexible in future versions of the projectodule.
</p>
