<p align="center"><b>Rating Form</b></p>

<p>
    This is the form with which the user can rate anoher student's
    file or presentation. Each rating will be given a grade from 0 to the
    number of items in the scale.

    E.g. if there are four items in the rating scale, the first will give a
    mark of 0, and each subsequent item will give one additional mark
    (up to a maximum of 3 in this example).
</p>
