<p align="center"><b>Release Topic</b></p>

<p>
    Any group member or an individual may release their topic in order to 
    choose a new topic.
</p>

<p>
    Note that releasing a group or student from their topic will result in lost
    information where there are dependencies between tasks. Any submission,
    scheduled time or assessed piece of work will be lost.
</p>
