<p align="center"><b>Remove Appointment</b></p>

<p>
    This allows you to remove an appointment with a individual or group for
    a presentation. This will require the individual or group to make a
    new appointment.
</p>