<p align="center"><b>Save List as template</b></p>

<p>
    With "Save List as a Template", a teacher can save the brainstorm list as a set for future use.  Give the set of topics a name, by typing the name in the box and clicking "Save".   This list will then appear in the list of template on the left side of the teacher's screen, labeled "Use Template".
</p>