<p align="center"><b>Set Standard Filename</b></p>

<p>
This forces a predetermined name for each file uploaded. If you add any alphanumeric characters (without brackets), all files uploaded will be named exactly that.   If you use the following bracketed terms, the system will search for the data and rename the student's file with that data.<br />
[firstname]<br />
[lastname]<br />
[username]<br />
[fullname]  <br />
[id]  <br />
[projectname]<br />
[topicname]  <br />
</p>
<p>
Example:   [firstname]-[id]-[topicname]    will look like this...   Mary-078893-Education_Issues.ppt
</p>
