<p align="center"><b>Allow Students to Add Topics</b></p>

<p>
    When selected, this allows students to add to the list of topics to
    be used in the project. If not selected, the teacher must create the list
    of topics for their students.
</p>

<p>
    Teachers can still add to the list of topics if this is selected, and they
    always have overall control to delete or edit topics.
</p>
