<p align="center"><b>Allow Student Assessment of Others</b></p>

<p>
    If this radio button is chosen as "yes", students will be allowed to
    anonymously assess other students' files and/or presentations.
</p>

<p>
    Note that this functionality is yet to be implemented.
</p>
