<p align="center"><b>Students' Mark</b></p>

<p>
    This mark is the sum and average of all the criteria ratings made by classmates.  The percentage  below the mark means the proportion that peer-making is assigned to the Overall Mark.
</p>