<p align="center"><b>Average Student Rating</b></p>

<p>
    This column shows the average rating by other students on the file or
    presentation made. The rating is for each criterion as specified in the
    rating form.
</p>
