<p align="center"><b>Submit Task</b></p>

<p>
    Submit Task allows Students and Teachers to upload files for the Project.
    Once uploaded, these files can be downloaded or viewed. Users can also
    delete the files uploaded or simply replace them by uploading a new file.
</p>
<p>
    Multiple Submit Tasks are allowed to be created.
</p>