<p align="center"><b>Submit Task</b></p>

<p>
    Submit Project allows Students and Teachers to submit projects uploaded externally by ArgoUML.
   
</p>
<p>
    Multiple Projects are allowed to be submitted.
</p>