<p align="center"><b>Task Name</b></p>

<p>
    There are five different tasks that can be chosen for a learning 
    sequence: Brainstorm, Signup, Submit, Schedule, and  Assessment. 
    Note that after a Signup task with group work has been created, it 
    appears as two tasks. Some of these tasks must be built in strict 
    order.  Others can be repeated and arranged flexibly.   A typical 
    project will include the following modules in this sequence.  The 
    default task titles are shown in bold.
</p>
<ul>
    <li>Brainstorm Topics (to collect a list of topics)
    <li>Select Your Topic  (to select a topic as an individual or as a group)
    <li>Select Your Group  (if you have chosen a group work option)
    <li>Submit  Your File (to hand in a file for assessment)
    <li>Schedule a Presentation  (or a face-to-face appointment)
    <li>Assess Your Project (either a submitted file or a presentation)
</ul>

<p>
    To begin making tasks, click on "Enable Teacher Mode".  A teacher 
    will see a box of task names and a button to "Add Task".  After 
    creating a task, a teacher will need to click on "Return to Main 
    Project Page" (a link at the bottom of the page) in order to create 
    the next task.
</p>

<p>
    Options include:
    <ul>
        <li>just a brainstorm and signup for a face-to-face task
        <li>multiple submit modules to handle multiple drafts of an essay 
	or other file;  Required modules are only that a Brainstorm task 
	and a Signup task be created.  For an illustration of some possible 
	iterations, look here.  
    </ul>
 
