<p align="center"><b>Task End Date</b></p>

<p>
    This is the ending date for the task. This date must be on or after the
    start date of the task. It must also be on or before the end date of the
    project.
</p>

<p>
    Students will be able to perform tasks up to and including this date.
</p>

<p>
    The default value is the current date plus seven days.
</p>
