<p align="center"><b>Task Late End Date</b></p>

<p>
    This is the late end date of the task. This date must be on or after the
    end date of the task. It must also be on or before the late end date of
    the project.
</p>

<p>
    Students will not be able to see the task late end date, but will be able
    to perform tasks before this time should the teacher allow it.
</p>

<p>
    The default value is the current date plus ten days.
</p>
