<p align="center"><b>Teacher Mark</b></p>

<p>
    Then make a new help file next to "Teacher Mark".  It should say*   "This mark is the sum of all the criteria ratings that the teacher made.  The percentage below the mark means the proportion that the teacher-marking is assigned to the Overall Mark."
</p>