<p align="center"><b>Upload File</b></p>

<p>
    This button enables the user to upload/submit a file for later
    assessment. Should a file already be uploaded, uploading another
    file will over-write the previous file. This will also delete any 
    assessments of that file in an Assessment Task (<b>Note that this has 
    not yet been implemented</b>)
</p>

<p>
    In order to upload a file, the user must specify the file from a location
    on their current computer using the "Browse" button. They then click on
    the Upload button.
</p>
