<p align="center"><b>Upload Topics</b></p>

<p>
For a teacher to upload a list of topics, save the list in text editor as a normal .txt file.  Each topic should be on a new line.  Browse and locate the file and click "upload topics".  This should add the list of topics to any topics already listed in the Brainstorm Task.<br /><br />

I just tested to see if my help text was correct.  Actually this procedure for Upload Topics does *not* work.   Do you know what I am doing wrong?  This is what I did.<br />
- Made text file  alpha.txt<br />
- Uploaded into brainstorm task<br />
- Only the first topic was put into the list, it was added to the list.  The new topic did not overwrite (OK).<br />
- The other topics did not get put into the list.<br />
- If I changed to comma separated topics in the text file. the other topics were added to the Description box.  They were not made separate topics.
</p>