<p align="center"><b>Use  Template</b></p>

<p>
    When you select a template from the list provided in "Use Template", a saved list of brainstorm topics will appear in the Teacher's editing window for making a brainstorm list.  This will save you much time in creating detailed criteria.  This set of criteria is often called a "rubric" by some educators.   Sharing rubrics is useful for teacher and in the future we may be able to upload/download rubrics for exchange in a repository.  Please note that if you add a brainstorm template to a list of topics you have already created, the template will add the new items, not overwrite the items.  If you have too many or too few topics in the brainstorm list, you can delete them one-by-one and then save the new list as a template.
</p>