<p align="center"><b>View Ratings</b></p>

<p>
    This link enables the user to see each criterion, along with the average
    rating for that criterion by students and the rating by the teacher.
</p>
