<p align="center"><b>Weighting of this Assessment Task</b></p>

<p>
    This weighting indicates the percentage of the mark this Assessment
    task accounts for as an overall proportion of all assessment tasks.
    E.g. If this assessment task is worth 30% and another assessment task
    is worth 70%, the two Assessment tasks will combine to form 100% of
    the Project.
</p>

<p>
    Should the total not add to 100%, each task will be proportionately
    scaled to be equivalent to 100%.
    E.g. If two assessment tasks were both made to be 60% each, they would
    be scaled down to 50% each to be equivalent to 100% total.
</p>
