#tagCloud1 {
  width:480px;  text-align:center; padding:5px; horizontal-align:center;
  overflow:auto; font-size:70%; font-family:arial;
}
#tagCloud1 a {
  color: #aab5f0;
  
}
#tagList1 { margin:0; padding:0; }
#tagList1 li {
  list-style-type:none; float:left; margin:0 10px; height:20px;
}
#tagList1 li a { color: #aab5f0;
    text-decoration:none;
    border-bottom:1px dotted #aab5f0;
    padding-bottom:1px;
    margin: 4px; }
#tagList1 li a:hover {
    text-decoration:none;
    border-bottom:2px solid #99ccee;
}
#tagCloud2 {
  width:480px;  text-align:center; padding:5px; horizontal-align:center;
  overflow:auto; font-size:70%; font-family:arial;
}
#tagCloud2 a {
  color: #aab5f0;
  
}
#tagList2 { margin:0; padding:0; }
#tagList2 li {
  list-style-type:none; float:left; margin:0 10px; height:20px;
}
#tagList2 li a { color: #aab5f0;
    text-decoration:none;
    border-bottom:1px dotted #aab5f0;
    padding-bottom:1px;
    margin: 4px; }
#tagList2 li a:hover {
    text-decoration:none;
    border-bottom:2px solid #99ccee;
}

#tagCloud3 {
  width:480px;  text-align:center; padding:5px; horizontal-align:center;
  overflow:auto; font-size:70%; font-family:arial;
}
#tagCloud3 a {
  color: #aab5f0;
  
}
#tagList3 { margin:0; padding:0; }
#tagList3 li {
  list-style-type:none; float:left; margin:0 10px; height:20px;
}
#tagList3 li a { color: #aab5f0;
    text-decoration:none;
    border-bottom:1px dotted #aab5f0;
    padding-bottom:1px;
    margin: 4px; }
#tagList3 li a:hover {
    text-decoration:none;
    border-bottom:2px solid #99ccee;
}

#tagCloud5 {
  width:480px;  text-align:center; padding:5px; horizontal-align:center;
  overflow:auto; font-size:70%; font-family:arial;
}
#tagCloud2 a {
  color: #aab5f0;
  
}
#tagList5 { margin:0; padding:0; }
#tagList5 li {
  list-style-type:none; float:left; margin:0 10px; height:20px;
}
#tagList5 li a { color: #aab5f0;
    text-decoration:none;
    border-bottom:1px dotted #aab5f0;
    padding-bottom:1px;
    margin: 4px; }
#tagList5 li a:hover {
    text-decoration:none;
    border-bottom:2px solid #99ccee;
}
