* { margin:0; padding:0; }

#newsticker-demo { 
width:410px; 

padding:5px 5px 0; 
font-family:Verdana,Arial,Sans-Serif;
font-size:12px;
margin:20px auto;
}

#newsticker-demo a { text-decoration:none; }
#newsticker-demo img { border: 2px solid #FFFFFF; }

#newsticker-demo .title {
text-align:center;
font-size:14px;
font-weight:bold;
padding:5px;
height:145px;
}
 
.newsticker-jcarousellite { width:400px;}
.newsticker-jcarousellite ul li{ list-style:none; display:block; padding-bottom:20px; margin-bottom:5px; font-size:10px;}
.newsticker-jcarousellite .thumbnail { float:left; width:20px; }
.newsticker-jcarousellite .info { float:right; width:380px; border: solid 1px #808080;}
.newsticker-jcarousellite .info span.cat { display: block;  font-size:12px; color:#808080; }

.clear { clear: both; }
